# 依赖
node_modules
.pnp
.pnp.js

# 测试
/coverage

# 构建输出
.next/
out/
build
dist
.turbo

# 杂项
.DS_Store
*.pem
.idea/
.vscode/

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 本地环境文件
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts 